#race {
    position: relative;
}

#scene {
    width: 100%;
}

#camel {
    position:absolute;
    width: 180px;
    top: 390px;
    z-index: 6;
}

#horse {
    position:absolute;
    width: 180px;
    top:310px;
    z-index: 5;
}

#bambi {
    position:absolute;
    width: 180px;
    top:260px;
    z-index: 4;
}

#turtle {
    position:absolute;
    width: 180px;
    top:210px;
    z-index: 3;
}

#lion {
    position:absolute;
    width: 180px;
    top:160px;
    z-index: 2;
}

#zebra {
    position:absolute;
    width: 180px;
    top:110px;
    /* left: 150px; */
    z-index: 1;
}

#pot {
    display: flex;
    justify-content: center;
    align-items: center;
}

#potNumber {
    font-size: 30px;
}